{% extends 'base.html.twig' %}

{% block body %}
    <div data-controller="hello">
        <button data-action="click->hello#greet" class="mt-4 px-4 py-2 bg-blue-500 text-white rounded">
            Click me
        </button>
    </div>
{% endblock %}
