@layer display-elements {
    .character-grid {
        @apply grid grid-cols-3 gap-4
    }

    .character-card {
        @apply bg-white/10 border border-cyan-700 rounded-lg overflow-hidden shadow hover:shadow-lg hover:bg-white/20 transition p-2 text-white cursor-pointer
    }

    .character-card img {
        width: 100%;
        object-fit: cover;
        display: block;
        @apply h-48 lg:h-30 rounded mb-2
    }

    .profile-backdrop {
        @apply fixed inset-0 bg-black/50 items-center justify-center z-50
    }

    .profile-modal {
        @apply relative w-10/12 lg:w-1/3 bg-white/10 backdrop-blur-md border border-cyan-400 rounded-2xl p-6 text-white shadow-xl
    }

    .profile-details {
        @apply flex flex-col sm:flex-row gap-6
    }

    .profile-image-container {
        @apply flex-shrink-0
    }

    .profile-image-container img {
        @apply lg:size-50 sm:size-75 rounded-full border border-cyan-400
    }

    .profile-detail-list {
        @apply flex-grow lg:text-base sm:text-2xl
    }

    .profile-detail-list h2 {
        @apply lg:text-2xl sm:text-4xl font-bold mb-1
    }

    .modal-close {
        @apply absolute top-3 right-3 text-xl font-bold cursor-pointer
    }
}
