<button
    type="button"
    class="hidden default-button"
    data-action="click->meeseeks#requestFulfilled"
    data-request-target="fulfilledButton">
    Meeseeks already fulfilled my request
</button>
