<div data-request-target="noRecords" data-meeseeks-target="noRecords" class="hidden text-center">
    <h1 class="text-2xl">No Records Found</h1>
    <img class="mx-auto" src="{{ asset('images/meeseeks-blink.gif') }}" alt="No records found" />
</div>
