# Symfony specific
.env.local
.env.*.local
.env.test
/var/
/vendor/
/node_modules/
/public/build/
/public/bundles/

# PHPUnit
/phpunit.xml
/phpunit.xml.dist
/phpunit.dist.xml
/bin/phpunit

# IDE and system files
/.idea/
/.vscode/
.DS_Store
*.log
.editorconfig
